body {
	margin: 0 auto;
	font-family: 'Anonymous Pro', monospace;  
	background: url(./assets/img/whitePattern.jpg) repeat;
}

.mainContainer {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.darkMode {
	background: url(./assets/img/blackPattern.png) repeat;
}

.darkMode h1 {
	color: white;
}




